.custom_pagination .ant-pagination-item {
  /* border: none; */
  background-color: black;
  color: white !important;
  border-right: "1px solid #FFCC33" !important;
}

.custom_pagination .ant-pagination-next {
  border: none;
  background-color: black;
  color: white !important;
}
.custom_pagination .ant-pagination-prev {
  border: none !important;
  background-color: black !important;
  color: white !important;
}

.custom_pagination .ant-pagination-jump-next {
  border: none;
  background-color: black;
  color: white;
}
